[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ordinalGOF"]
	path = ordinalGOF
	url = https://github.com/funto-aladekomo/ordinalgof
